a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: 30px;
    color: blue;
    padding: 5px 10px;
}

div{
    margin: auto;
}

nav{
    color: blue;
    justify-content: center;
    margin:auto 0;
}

#logo{
    margin-left: 3rem;
}

#divHeader{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid black;
}

p{
    text-align: center;
    font-size:3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#TituloForm{
    font-size: 2rem;
}

#subtitulo{
    font-size: 1.3rem;
}

#imgPrincipal,#formulario{
    display: flex;
    justify-content: center;
    align-items: center;   
}

label{
    font-family:Arial, sans-serif;
    font-weight: bold;
}

#formulario{
    padding: 1rem;
    width: 40rem;
    flex-direction: column;
    border: thin solid lightgrey;
    
}

#infoExtra{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

#infoExtra div{
    margin: 0.3rem;
}

#filtros,#formBuscar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.4rem 0rem;
    width: 70%;
}

#filtros div p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
}

#formBuscar div,#buscarPorFiltros{
    display: flex;
    flex-direction: column;
    margin: 0;
}

#buscarPorFiltros{
    align-items: center;
}


.btnFormulario,input[type="submit"]{    
    background-color: rgb(0, 123, 255);    
}

.btnFormulario:hover,input[type="submit"]:hover{
    background-color: rgb(0, 105, 217);
}

.btnEdit{
    background-color: rgb(214, 214, 49);
}

.btnEdit:hover{
    background-color: rgb(131, 131, 10);
}

.btnPeligro{
    background-color: rgb(231, 5, 5);
}

.btnPeligro:hover{
    background-color: rgb(184, 2, 2);
}

.btnExito{
    background-color: rgb(80, 148, 80);
}

.btnExito:hover{
    background-color: rgb(53, 100, 53);
}

input, select,button{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.2rem 0.5rem;
    font-size: 15px;
    margin-bottom: 1.3rem;
}

input[type="button"],input[type="submit"],button{
    border: none;
    color: white;
    width: 9.5rem;
    padding: 0.8rem 1.9rem;
    cursor: pointer;
}

#divTabla{
    width:100%;
}
#TablaAutos{
    width:70rem;
}

table{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

th{
    background-color: rgb(2, 170, 170);
    color: whitesmoke;
}

tr:nth-child(even){
    background-color: lightgrey;

}

td, th{
    padding: 11px;
}